{% extends "base.html" %}
{% load static %}
{% block page_header %}

<!-- information drop down button with information about the donate process. -->
<div class="container header-container">
    <div class="row">
        <div class="col">
            <p>
                <a class="btn btn-outline-dark btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Information About Donation
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <p> <strong> Donations to the Couronne</strong> website go in full to develop the website, 
                        create live tournaments and events! If you want to give more than $10, 
                        you can make repeated donations. How many you actually want! 
                        &#128521;
                    </p>
                    <strong>This is only a working test donation, so no money will be deducted 
                    from your account! Use account number 424242424242424.</strong>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block content %}

<div class="container ">
    <div class="alert alert-dark border-blue rounded">
        <div class="row bg-sedondary ">
            <div class="col-md-12 text-center ">
                <section>
                    <div class="product rounded">
                        {% comment %} <img
                            src="https://i.imgur.com/EHyR2nP.png"
                            alt="The cover of Stubborn Attachments"
                            /> {% endcomment %}
                        <div class="description bg-light border-blue margins rounded">
                            <h3 class="margins shadow rounded"> {{ product.name }}</h3>
                        </div>
                        <button class="btn btn-lg btn-outline-dark border-red" type="button" id="checkout-button">Donate</button>
                    </div>
                </section>
            </div>
        </div>
        <div class="text-center pt-3">
            <a class="btn btn-outline-dark btn-sm border-danger" href="javascript:history.back()"> ← BACK </a>
            <a class="btn btn-outline-dark btn-sm border-info" href="{% url 'home:home' %}"> HOME </a>
        </div>
    </div>
</div>
<!------------------------ OBS Dont forget, Move to separate file ---------------------------------------------->
{% csrf_token %}
<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("{% url 'create-checkout-session' product.id %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': csrftoken
        }
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
    
    // Disable the button until we have Stripe set up on the page
    document.querySelector("button").disabled = true;
</script>

{% endblock %}
