{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>{{ user }}
{% endblock %}

{% block content %}
<div class="container ">
    <div class="row bg-light">
        <div class="col-md-6 my-col">
           1 
        </div>
        <div class="col-md-6 my-col">
            2
        </div>
        <hr>
        <div class="col-md-12 text-center my-col">
            <h4>
                <a href="{% url 'home:reg_match' %}" class="shop-now-button btn btn-sm rounded 0 text-uppercase py-3">Register Match</a>
            </h4>
        </div>
    </div>
</div>    
<!------------------------------------------------------------------>    
<div class="my-5 my-auto mx-auto my-auto text-center">
    
</div>
{% endblock %}
