{% extends "base.html" %}
{% load static %}
{% block page_header %}
<!-- Preparing to add things above block content -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <div class="alert alert-light">
                    <div class="alert alert-info">
                        <h4 class="border-big bg-light text-dark shadow rounded px-3">Couronne League All</h4>
                    </div>
                    <!-- List all the players in rising order -->
                    {% if all_objects %}
                    <table class="table table-striped text-right font-size-small">
                        <th class="text-left">Player</th>
                        <th class="hide-medium text-center">Best Ranking</th>
                        <th class="hides">Played</th>
                        <th class="hides">Won</th>
                        <th >Average</th>
                        <th>Rating</th>
                        {% for person in all_objects %}
                        <tr>
                            {% if person.club_location %}
                                <td class="text-left" data-toggle="tooltip" data-placement="left" title="Club: {{ person.user }} is a member of: {{ person.club_location }}">{{ forloop.counter }}. {{ person.user }}  </td>
                            {% else %}
                                <td class="text-left" data-toggle="tooltip" data-placement="left" title="Club: {{ person.user }} does not belong to any club. ">{{ forloop.counter }}. {{ person.user }}  </td>
                            {% endif %}
                                <td class="hide-medium text-center text-info">{{ person.best_ranking }}</td>
                                <td class="hides">{{ person.number_played_matches }}</td>
                                <td class="hides text-success"><strong>{{ person.matches_won}}</strong></td>
                                <td class="text-secondary">{{ person.average|floatformat:3 }}</td>
                                <td><strong>{{person.ratingf|floatformat:3}}</strong></td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
                <div class="text-center">
                    <a class="btn btn-outline-dark btn-sm border-danger" href="javascript:history.back()"> ← BACK </a>
                    <a class="btn btn-outline-dark btn-sm border-info" href="{% url 'home:home' %}"> HOME </a>
                    <a class="btn btn-outline-dark btn-sm border-dark" href="{% url 'home:league_club' %}"> YOUR CLUB </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
