{% extends "base.html" %}
{% load static %}
{% block page_header %}
<!-- Preparing to add things above block content -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <div class="alert alert-dark">
                    <div class="alert alert-light">
                        <h4 class="text-dark">Couronne League All</h4>
                    </div>
                    <!-- List all the players in rising order -->
                    {% if all_objects %}
                    <table class="table table-striped text-right font-size-small">
                        <th class="text-left">Player</th>
                        <th class="hide-medium text-center">Best Ranking</th>
                        <th class="hides">Played</th>
                        <th class="hides">Won</th>
                        <th >Average</th>
                        <th>Rating</th>
                        {% for person in all_objects %}
                        <tr>
                            <td class="text-left">{{ forloop.counter }}. {{ person.user }}</td>
                            <td class="hide-medium text-center text-info">{{ person.matcher }}</td>
                            <td class="hides">{{ person.rating }}</td>
                            <td class="hides text-success"><strong>{{ person.antal_vunna}}</strong></td>
                            <td class="text-secondary">{{ person.snitt|floatformat:3 }}</td>
                            <td><strong>{{person.ratingf|floatformat:3}}</strong></td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
                <div class="text-center">
                    <a class="btn btn-outline-dark btn-sm border-danger" href="javascript:history.back()"> ← BACK </a>
                    <a class="btn btn-outline-dark btn-sm border-info" href="{% url 'home:home' %}"> ← HOME </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
