{% extends "base.html" %}
{% load static %}
    {% block page_header %}
    <!-- information drop down button, shows until the registered user
    has registered three matches -->
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
    {% endblock %}
{% block content %}
    <!-- Section that shows an error message when entering the wrong match when registering a played match. -->
    {% if user.is_authenticated %}
    <div class="container ">
        <div class="alert alert-danger border-big">
            <div class="row ">
                <div class="col-md-12 text-center">
                    <h2 class="text-danger shadow text-center alert-warning border border-secondary bg-light rounded"> {{ heading }}</h2>
                    <h5 class="text-dark text-center alert-warning border border-secondary bg-light rounded shadow margins p-3"> {{ message }}<br><span class="text-danger h6">{{ final_text }}</span></h5>
                    <!-- Back and Home buttons -->
                    <a class="btn btn-outline-dark btn-lg border-danger" href="javascript:history.back()"> ← BACK </a>
                </div>
            </div>
        </div>
        <div class="text-center">

            <a class="text-secondary" href="javascript:history.back()">Go back and try again.</a>
        </div>
    {%endif%}
    </div>
{% endblock %}