{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <p>
                <a class="btn btn-outline-dark btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Match registration information 
                </a>
                
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    To register a match, enter the name of the person who won the match. 
                    It is thus the loser who needs to humble himself and register the match. 
                    Keep in mind that the player's name you enter is case-sensitive. 
                    Once you have entered the name of the winner, 
                    you will be redirected to a page where you verify by clicking the done button!
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
    
    {% if user.is_authenticated %}

    
    <div class="container ">
        <div class="alert alert-dark border-big">
            <div class="row ">
                <div class="col-md-12 text-center">
                <h2 id='colors' class="text-dark text-center alert-warning border border-secondary">Register Result</h2>
                <div  class="alert alert-warning ">
                    <form action="{% url 'home:edit' %}" method="post">
                        {% csrf_token %}    
                        <input id="search" name="search" type="text" class="query-search" Placeholder="Winner's name here ...">
                        <h6 class="font-size-small" id='one'>Only registered users are updated!</h6>
                        <input class="btn btn-outline-dark btn-sm"type="submit" value="Register match">
                    </form>
                </div>
                
                <a class="btn btn-outline-dark btn-sm" href="javascript:history.back()"> ← Back </a>
            </div>
        </div>
    </div>
    </div>
    
    <script src="{% static 'js/color_change.js' %}"></script>       
    {%endif%}
{% endblock %}