{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

    {#% if user.is_superuser %#}
    <!--<meta http-equiv="REFRESH" content="url=http://127.0.0.1:8000/admin">-->
    {#% endif %#}
    
    {% if user.is_authenticated %}

    
    <div class="container ">
        <div class="alert alert-dark border-yellow">
            <div class="row ">
                <div class="col-md-12 text-center">
                <h2 id='colors' class="text-dark text-center alert-warning border border-secondary">Register Result</h2>
                <div  class="alert alert-warning ">
                    <form action="{% url 'home:edit' %}" method="post">
                        {% csrf_token %}    
                        <input id="search" name="search" type="text" class="query-search" Placeholder="Winner's name here ...">
                        <h6 class="font-size-small" id='one'>Only registered users are updated!</h6>
                        <input class="btn btn-outline-dark btn-sm"type="submit" value="Register match">
                    </form>
                </div>
                
                
            </div>
        </div>
    </div>
    </div>
    
    <script src="{% static 'js/color_change.js' %}"></script>       
    {%endif%}
{% endblock %}