{% extends "base.html" %}
{% load static %}
{% block page_header %}
<!-- information drop down button, shows until the registered user
has registered three matches -->
<div class="container header-container">
    <div class="row">
        <div class="col">
            {% if played_matches <= 2  %}
            <p>
                <a class="btn btn-outline-dark btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Match registration information 
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <p>
                        <strong>To register a match</strong> , enter the name of the person who won the match. 
                        It is thus the loser who needs to humble himself and register the match. 
                        <strong class="text-danger">Keep in mind that the player's name you enter is case-sensitive.</strong>  
                        Once you have entered the name of the winner, 
                        you will be redirected to a page where you verify by clicking the done button!
                    </p>
                    <p class="text-success"><u>This information box stops appearing after you have registered three matches!</u></p>
                </div>
            </div>
            {% endif %}  
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<!-- Only registered players have access to the reg match page.
If the user is not registered, he will be redirected to the sign in page -->
{% if user.is_authenticated %}
<div class="container ">
    <div class="alert alert-dark border-big">
        <div class="row ">
            <div class="col-md-12 text-center">
                <h2 class="text-dark text-center alert-warning border border-secondary"> Register Result</h2>
                <div  class="alert alert-warning ">
                    <!-- Form to get a value to compare with in the database. 
                        In views Checks if the entry is empty, 
                        misspelled or if user enters their own name. -->
                    <form action="{% url 'home:edit' %}" method="post">
                        {% csrf_token %}    
                        <strong class="text-primary">&#129094; </strong><input id="search" name="search" type="text" class="query-search" Placeholder="Winner's name here ...">	<strong class="text-primary"> &#129092;</strong>
                        <h6 class="font-size-small" id='one'>Only registered users are updated!</h6>
                        <input class="btn btn-lg btn-outline-dark  bg-warning" id="checkout-button" type="submit" value="Register match">
                    </form>
                </div>
                <!-- Back and Home buttons -->
                <a class="btn btn-outline-dark btn-sm border-danger" href="javascript:history.back()"> ← BACK </a>
                <a class="btn btn-outline-dark btn-sm border-info" href="{% url 'home:home' %}"> ← HOME </a>
            </div>
        </div>
    </div>
    <div class="text-center">
        <!--<h5><u>All Players</u></h5>-->
        <h6 class="text-success"> Copy  and Paste if you want...</span></h6>
        {% if all_objects %}
            {% for person in all_objects %}
                {{ forloop.counter }}.<strong class="text-secondary" data-toggle="tooltip" data-placement="bottom" title="Double click and copy {{person.user}}">{{person.user}}</strong><span class="text-light">. . </span>
            {% endfor %}
        {% endif %}
    </div>
<script src="{% static 'js/color_change.js' %}"></script>       
{%endif%}
</div>


{% endblock %}