{% extends "base.html" %}
{% load static %}
{% block page_header %}
<!-- Preparing to add things above block content -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
<!-- Overwrites alluth registration for the connection 
    (one to one field) to players in DB to work correctly! -->
{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="alert alert-dark ">
            {% if registered and reg %}
                <h1>Updated and ready!</h1>
                <meta http-equiv="REFRESH" content="{% url 'home:home' %}">
            {% elif registered %}
            <!-- Redirection to login after registration. -->
                <h1>Thank you for registering!</h1>
                <a class="nav-item nav-link" href="{% url 'account_login' %}">&#128566 Login</a>   
            {% else %}
            <h4>Register here</h4>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ user_form.as_p }}
                <br>
                <a class="btn btn-outline-dark"  href="javascript:history.back()"> ← BACK </a>
                <input class="btn btn-outline-dark" type="submit" name="" value="Register">
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}