{% extends "base.html" %}
{% load static %}
{% block page_header %}
<!-- Preparing to add things above block content -->
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row bg-light border-big">
        <div class="col-md-6 col border-big">
            <div class="row bg-light">
                <div class="col bg-info border border-success text-white rounded">
                    <h4 class="bg-light padding-text margins border-big text-dark shadow rounded m-3">Rules</h4>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <p>
                        <strong>Description of the game</strong>
                        As in billiards, it's about getting all your own balls down, but in this game it's about your own rings.
                    </p>
                    <p>
                        <strong> Preparations and layout </strong>Lay out the red and yellow rings in the circle in the center of
                        the game board. Then form two teams (for more than 2 players) and choose the color of the rings and the
                        associated queue. Then give each player a black push ring. • game with 2 players: The players sit opposite
                        each other at the table. Play from your side of the game board and from the side to your left.
                    </p>
                </div>
                <div>
                    <p>
                        <strong>The course of the game </strong>The yellow players start by striking their impact rings against
                        the rings in the middle of the circle. Then the turn goes to the red team. You always push from the edge
                        of the rim and you can push the rings into any corner compartment.
                    </p>
                    <p>
                        <strong> General rules and penalties </strong>When you get a ring in your own color, you get an extra hit.
                        When you get a ring in the opponent's suit, the turn goes to the other team. If a ring skips the rim,
                        place the ring back in the small circle closest to the corner where the ring skipped. If you manage to get
                        the impact ring down into a corner compartment, you will be forced to pick up one of the rings you got
                        down in your own color. Place the ring in the circle in the middle of the field.
                    </p>
                </div>
            </div>
        </div>
        <!------------------------------- STORY ------------------------------------------->
        <div class="col-md-6 border-big">
            <div class="row">
                <div class="col bg-success border border-info text-white rounded">
                    <h4 class="bg-light padding-text margins border-big text-dark shadow rounded m-3">Story</h4>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <p>
                        <strong>Couronne,</strong>
                        or coron, also called corona is a variant of the board game that is believed to have originated in Asia or
                        Africa
                    </p>
                    <p>
                        <strong> The game </strong> is played by two to four players who are divided into two
                        teams. Each team must try to hit their fifteen rings into the holes on the game board. Queues and special
                        bumps are used for this. The team that gets their rings down first wins.
                    </p>
                    <p>
                        <strong> In the 1930s</strong>
                        the Swedish Couronne Championship was held at Nordiska Kompaniet's department store in Stockholm.
                    </p>
                    <div>
                        <p>
                            <strong>Couronne</strong> has taken some ideas from Carrom which is a similar board game Carrom (also
                            spelled carom/carroms) is a tabletop game of Indian origin. The game is very popular in South Asia, and is
                            known by various names in different languages. In South Asia, many clubs and cafés hold regular
                            tournaments. Carrom is very commonly played by families, including children, and at social functions.
                        </p>
                        <ul class="sans">
                            <li>Width: 88 cm</li>
                            <li>Height: 88 cm</li>
                            <li>Queue length: 110 cm</li>
                            <li>Rings diameter 3 cm</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center margins">
        <a class="btn btn-outline-dark btn-sm border-danger" href="javascript:history.back()"> ← BACK </a>
        <a class="btn btn-outline-dark btn-sm border-info" href="{% url 'home:home' %}"> HOME </a>
        <hr>
    </div>
</div>
{% endblock %}