{% extends "base.html" %}
{% load static %}
{% block page_header %}
<!-- Preparing to add things above block content -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
<!-- Landing Page for contact us (When the user sent us a e-mail) -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <div class="alert alert-dark">
                    <div class="alert alert-light text-center">
                        <h4 id='two'>Mail Sent </h4>
                    </div>
                    <p class="text-center">Thank you for your email, we will get back to you soon.</p>
                    <div class="text-center">
                        <a class="btn btn-outline-dark btn-sm border-danger" href="javascript:history.back()"> ← BACK </a>
                        <a class="btn btn-outline-dark btn-sm border-info" href="{% url 'home:home' %}"> ← HOME </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
