{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    
          <div class="alert alert-dark ">
        {% if registered and reg %}
        <h3>Update complete.</h3>
        <a href="{% url 'home:user_login' %}" class="nav-link main-logo-link">
            <h4 class="text-black"><strong>Log</strong>In here...</h4>
        </a>
        {% elif registered %}
        <h3>Update is complete.</h3>
        <a class="nav-item nav-link" href="{% url 'home:user_login' %}">☺ &#128566 Login</a>   
        {% else %}
        <div class="alert alert-dark">
          <h3>Uppdatera </h3>
          {{user}}
        </div>
        

          <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ upp_form.as_ul }}
            {{ profile_form.as_ul }}
            <br>
            <a class="btn btn-outline-dark"  href="javascript:history.back()"> ← Back </a>
            <input class="btn btn-outline-dark" type="submit" name="" value="Update">
          </form>
        
          {% endif %}
        </div>
</div>
</div>
{% endblock %}




