html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    
}

body {
    background: url('/media/background-couronne.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Prompt', sans-serif;
    
}

/*---------------- Margins and padding ------*/
.margins{
    margin: 1em;
}

.padding-text {
    padding-left: 1em;
} 

/*------------------ Colors -------------*/
.bg-black {
    background: #000 !important;
}

.text-black {
    color: #000 !important;
}

.color-transparent{
    opacity: 0.5;
}

.text-white{
    color:#fff;
}

.text-brown{
    color:brown;
}

.color-beige{
    color: antiquewhite;
}

.border-yellow{
    border: 3px solid rgb(246, 248, 105);
}

.bg-white{
    background-color: #fff;
}

/*---------- Borders ---------*/
.border-black {
    border: 1px solid black !important;
}

.border-big{
    border: 5px solid white;
}

.border-blue{
    border: 3px solid rgb(167, 163, 197);
}

/*------------------ Forms -------------*/
.myfieldclass{
    width: 820px;
    background-color: whitesmoke;
    color: black
}

/*-------- Container, row, col --------------*/

.my-container{
    margin-top: 0px;
}

.my-row{
    border: 3px solid red;
}

.my-col{
    border: 3px dotted blue;
}

/*--------------- from Bulma -------------*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    text-shadow: .5px .5px #099c4b;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}
/*-------- Font styling ------------*/
#checkout-button{
    text-shadow: .5px .5px #099c4b;
}
.font-little{
    font-size: 8px;
    line-height: 10px;
    padding-top: 6px;
}
.shadow, h1, h2, h3, h4, h5, h6 strong, th, td, a, b{
    text-shadow: .5px .5px #099c4b;
  }

.cell {
    cursor: cell;
}

/* ---------------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
    
}

.header-container {
    padding-top: 120px;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    
    .header-container {
        padding-top: 180px;
    }
    .hideing-small{
        display: none;
        }
}

@media (max-width: 992px) {
    .myfieldclass-medium{
        max-width: 550px;
        background-color: whitesmoke;
        color: black
    }
    .hideing{
        display: none;
        }
}

@media (max-width: 768px) {
    .myfieldclass-medium{
        max-width: 350px;
        background-color: whitesmoke;
        color: black
    }
    .hide-medium{
        display: none;
    }
}

@media (max-width: 440px) {
    .myfieldclass-small{
        width: 200px;
        background-color: whitesmoke;
        color: black
    }

}
@media (max-width: 480px){
    .hides{
        display: none;
    }
    .font-size-small{
        font-size: 8px;
    }
    .font-size-smallest{
        font-size: 5px;
    }
    
}

/* Media Query HEIGHT*/
@media (max-height: 350px){
    .font-size-height{
        font-size: 8px;
    }
}
