<!-- Main menu/Navigation bar for small screens on all pages. -->
<li class="list-inline-item">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <a href="{% url 'home:home' %}" class="nav-link main-logo-link" data-toggle="tooltip" data-placement="bottom" title="Back to Start">    
            <h4 class="logo-font text-info my-0 hideing-small hides"><strong>Çour</strong><span class="text-success">onne</span></h4>
        </a>
    </a> 
</li>
<li class="list-inline-item dropdown">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0">{{ user }}</p>
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="dropdown-item ">Management</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% endif %}
            {% if not request.user.is_superuser %}
                <a href="{% url 'home:profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% endif %}
    {% else %}
        <a href="{% url 'home:register' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
    {% endif %}
    </div>
</li>