{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="text-center">
  <h1>{% trans "Sign Up" %}</h1>
  <!-- Over write the orginal sens we use custom sign-up -->
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  <h4 class="text-uppercase">do not use this form to log-in if you want to be able to register/play matches!!!</h4>
  <p>Register here instead! <a href="{% url 'home:register' %}">Register</a></p>
</div>


{% endblock %}
