{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
    <div class="alert alert-dark">
        <div class="alert alert-light">

            <h4>{% trans "Verify Your E-mail Address" %} &#128231;</h4>
        
            <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.{% endblocktrans %}</p>
        </div>
    </div>

{% endblock %}
